[database]
host = 127.0.0.1
user = root
passwd = root
db = yunta

[path]
sql_path = C:\sqls\sql_one
excel_path = C:\报表

[filename]
JY基金申赎及基金投资人结构日报表 =2.3.sql|2.4.sql|2.1.sql|2.5.sql|2.2.sql,保有份额|保有净值|基金交易|认申购|账户
基金资金轧差清算报表_分集合并 = 3.sql, sheet
销售商确认汇总报表 = 5.sql, sheet
资金交收报表（305）= 10.305.sql, sheet
资金交收报表（926）= 10.926.sql, sheet
资金交收报表（汇总）= 10.sql, sheet
货币份额流入流出统计 = 1.sql, sheet
基金的资金清算报表(基金) = 4.sql, sheet